.container{
    width: 540px;
    margin: auto;
    margin-top: 150px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    bottom: none;
    background: #707070;   
}
.container h2{
    font-size: 20px;
    font-weight: 400; 
}
.container h1{
    text-align: center;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    border: 2px solid #686868;
    border-radius: 8px;
    margin-bottom: 25px;
    font-size: 20px;
    cursor: pointer;
}
.container button{
    margin: auto;
    width: 200px;
    height: 50px;
    background: #553f9a;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 18px;
}
.container .correct{
    background: #dffff2;
    border-color: #00d397;
}
.container .wrong{
    background: #FFEBEB ;
    border-color: #FF4A4A;
}
.container .final{
    text-align: center;
}